
/* infopanel/accordion classes */
/* $Id: accordion.css 63 2007-06-23 18:37:21Z jozo $ */

.x-dock-panel {
	/* turn IE layout mode on */
	zoom:1;
}

.x-dock-panel .x-dock-panel-body {
	background-color: white;
	font: normal 8pt tahoma,verdana,helvetica;
	color: black;
	position:relative;
	top: 0;
	/* turn IE layout mode on */
	zoom:1;
}

.x-dock-panel .x-dock-panel-body-docked {
	border-bottom: 1px solid #A9BFD3;
}

.x-dock-panel .x-dock-panel-body-undocked {
	border-left: 1px solid #A9BFD3;
	border-right: 1px solid #A9BFD3;
	border-bottom: 1px solid #A9BFD3;
}

.x-dock-panel .x-dock-panel-body-collapsed {
}

.x-dock-panel .x-dock-panel-body-expanded {
}

.x-dock-panel .x-dock-panel-title-over {
	background-position: 0 -5px; 
}
.x-dock-panel .x-dock-panel-icon
, .x-dock-panel-ghost .x-dock-panel-icon {
	background-position: 3px 50%;
	background-repeat: no-repeat;
	padding-left: 23px;
}
.x-dock-body, .x-dlg-bd .x-dock-body {
	background-color: #f7f7fd;
	position: relative;
	top: 0;
	left: 0;
}

.x-dock-body-dragover, x-dlg-bd .x-dock-body-dragover {
	background: #f0f0f6;
}
.x-dock-panel .x-window-header-text 
, .x-dlg-proxy .x-window-header-text {
	cursor: pointer;
}
.x-dock-panel .x-dock-panel-title-dragover {
	background-position: 0 -12px;
	color: white ! important;
}

.x-dock-panel .x-dock-panel-title-collapsed {
}

.x-dock-panel .x-dock-panel-title-expanded {
}

.x-dock-panel .x-layout-stuck {
	background-image: url(/extjs/resources/images/default/layout/stuck.gif);
}

.x-dock-panel .x-layout-panel-hd {
	position: static;
}

.x-dock-panel .x-dock-panel-title-pinned {
	cursor: default;
}

.x-dock-panel .x-dock-panel-toolbar {
}

.x-dock-panel .x-dock-panel-toolbar-bottom {
	position: absolute;
	bottom: -1px;
}

.x-dock-panel .x-dock-panel-toolbar .x-toolbar {
	/* turn IE layout mode on */
	zoom:1;
}

/* IE 1px combo arrow tweak */
.x-dock-panel .x-form-text {
	vertical-align: top;
}

.x-dock-panel-ghost {
    background:#cbddf3;
	border-top: 0;
	position: relative;
	top: 0;
    opacity:.65;
    -moz-opacity:.65;
    filter:alpha(opacity=65);
}

/********** You do not need styles below this line in your application ***********/

/* accordion example specific styles */
.x-dock-panel-body .text-content {
	padding: 4px;
/*	border-bottom: 1px solid #A9BFD3; */
}
.x-dock-panel-body .text-content p {
	margin-bottom: 4px;
}
.x-dock-panel-body .text-content ul {
/*	list-style-image: inherit; */
	list-style-position: inside;
	list-style-type: disc;
	margin-bottom: 4px;
}

#panel-5 .x-dock-panel-body-undocked {
	background-color: #ffffc0;
}

/* accordion/dock unrelated styles */
#loading-msg {
	top: 45% ! important;
	left:43% ! important;
	z-index: 20001 ! important;
}
#west {
}
#west-body {
	overflow: auto;
}
#center {
	padding: 10px;
}
#info-code {
	font-size: 9pt;
}
#acc-code, #panel-code, #app-code {
	font-size: 12px;
	padding: 10px;
}

pre.code{
	background: #F8F8F8;
	border: 1px solid #e8e8e8;
	padding:4px;
	margin:10px;
	margin-left:0px;
	margin-right:0px;
	border-left:5px solid #e8e8e8;
	font-size: 8pt;
}
#north {
	background:	transparent url("/extjs/resources/images/default/layout/panel-title-bg.gif");
	color: white;
	font-size: 16pt;
	vertical-align: middle;
	font-weight: bold;
	padding-left: 6px;
	float: left;
	height: 100%;
	width: 100%;
	
}
#acc2-ct {
	position: relative; 
	top: 12px;
	left: 12px;
	width: 280px;
}
#acc2-wrap {
	border: 1px solid #A9BFD3;
	background: white;
}
#acc2-descr {
	position: absolute;
	top: 80px;
	right: 8px;
	width: 270px;
	margin: 10px;
	border:1px solid silver;
	background: #f0f0f0;
	padding: 8px;	
	font-size: 10px;
	font-family: tahoma, arial, verdana, sans-serif;
}
#acc2-descr p {
	margin-bottom: 4px;
}
#panel-7 .x-dock-panel-body {
	background-color: #ffffc8;
}
#theme-combo-container {
	padding: 10px;
}
#btn-show-dlg {
	position: relative;
	max-width: 280px;
	top: 24px;
	left: 14px;
	margin-bottom: 20px;
}
#dialog-acc-container {
	border: 1px solid #84a0c4;
}
/* Test of fix of button in FF */
.x-btn-text-icon .x-btn-center .x-btn-text {
	padding: 2px 0pt 2px 18px;
}

#panel-4 .text-content {
	padding-bottom: 30px;
}
#msg-div {
    position: absolute;
    left: 35%;
    top: 0px;
    width: 200px;
    z-index: 20000;
}
#right-tall-ct {
	float: left;
	margin: 2px;
	border: 1px solid silver;
	width: 222px;
	font-size: 8pt;
	background: #f6f6a4;
	padding: 4px;
}
#ipanel-4 {
	position:absolute;
	top: 76px;
	left: 246px;
	width: 220px;
}
#ipanel-5 {
	position:absolute;
	top: 86px;
	left: 480px;
	width: 220px;
}
#ipanel-6 {
	position:absolute;
	top: 380px;
	left: 246px;
	width: 220px;
}
#ipanel-7 {
	position:absolute;
	top: 390px;
	left: 480px;
	width: 220px;
}
#ipanel-4 .code, #ipanel-5 .code, #ipanel-6 .code, #ipanel-7 .code {
	font-size: 7pt;
}
#left-content {
	margin: 2px;
	border: 1px solid silver;
	font-size: 10pt;
	padding: 4px;
	background: #f6f6a4;
}

#left-content p {
	padding-bottom: 4px;
}
.x-layout-panel-east {
	border-left: 0;
}
.adsense {
	padding: 1px;
	padding-top: 4px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.x-layout-panel-center {
	border-right: 0;
}
.x-layout-panel-east {
	border-left: 0;
}
.x-tabs-wrap {
	border-right: 1px solid  #6593cf;
}
.tab-content {
	padding: 10px;
	font-size: 9pt;
	font-family: verdana, tahoma, arial, sans-serif;
}
.tab-content ul {
	list-style-image: disc;
	list-style-position: inside;
	list-style-type: inherit;
}
.tab-content h1 {
	font-size: 15pt;
	margin-bottom: 1ex;
	margin-top: 3ex;
}
.tab-content h2 {
	font-size: 12pt;
	margin-top: 3ex;
	margin-bottom: 1ex;
}
.tab-content h3 {
	font-size: 10pt;
	margin-top: 3ex;
	margin-bottom: 1ex;
}
.tab-content p {
	margin-bottom: 2ex;
}
#google-search .x-dock-panel-body {
		padding:10px;
		background-color: #ffffc8;
}
#google-search .x-dock-panel-body table {
		background-color: transparent;
}

/* end of file */


