.x-grid-locked .x-grid3-viewport, .x-grid-locked .x-grid3-locked{
	overflow:hidden;
	position:absolute;
}
.x-grid-locked .x-grid3-locked .x-grid3-scroller{
	overflow:hidden;
	border-right: 1px solid #99BBE8;
}
.x-grid-locked .x-grid3-scroll-spacer {
	height: 19px;
}