.XThemeSelectorBar{
    /*background-image: url(../ext-1.1/resources/images/default/layout/panel-title-light-bg.gif);*/
    /*border-bottom:1px solid #98c0f4;*/
    display:block;	
    position:relative;
	width:150px;
	float:right;
    padding: 2px;
	text-align:right;
	white-space:nowrap;	
}

#XThemeSelectoBarInner{

}

#XThemeSelectorCaption{
	font-family: verdana; font-size: 10px;
	padding-left: 3px;
	padding-right: 1px;	
	color: black;
}

#XThemeSelectorSelect{
	font-family: verdana; font-size: 10px;
	color: black;
}