div ul.cloud, div ul.cloud li {
	display:inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align:justify;
	vertical-align:baseline;
	white-space: normal;
}
div ul.cloud li {
	margin: 1px 4px 1px 4px;
}
div ul.cloud :first-child{
	margin-left:0px;
}
a.tag{color:#31F5B4}
a.tag:hover{background-color:yellow}
a.tag1{font-size:80%; color:#7777FF}
a.tag2{font-size:80%; color:#7777FF}
a.tag3{font-size:90%; color:#7777FF}
a.tag4{font-size:90%; color:#7777FF}
a.tag5{font-size:110%; color:#5555FF}
a.tag6{font-size:110%; color:#5555FF}
a.tag7{font-size:130%; color:#5555FF}
a.tag8{font-size:130%; color:#0000FF}
a.tag9{font-size:150%; color:#0000FF}
a.tag10{font-size:150%; color:#0000FF}
div ul.cloud li span.tag-weight{font-size:80%}